// Bootstrap variables
@import "variables.scss";

// Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container{
  max-width: 1000px;
}

@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

h1 {
	font-family: "Pacifico", cursive;
	color: $indigo;
}

.container{
  max-width: 1500px;
}

.avatar-img{
  width: 3em;
  height: 3em;
  @include background;
  border: 1px solid $indigo;
  border-radius: 50%;
}

.cover-photo {
  width: 3em;
  height: 3em;
  @include background;
  border-radius: 50%;
}

.prof-img{
  width: 150px;
  height: 150px;
  margin-bottom: -50px;
  position: relative;
  top: -50px;
}

.cover-photo{
  width: 100%;
  height: 400px;
  border-radius: 0;
}

.icon{
  width: 1.5em;
  height: 1.5em;
  fill: $purple;
}

textarea{
  resize: none;
}

.error{
  color: $danger;
}

.navbar-nav{
  width: 100%;
}