// Bootstrap variables
@import "variables.scss";

// Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Customized styles
// $indigo: #6610f2;
// $purple: #6f42c1;

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container{
  max-width: 1000px;
}

h1 {
	font-family: "Pacifico", cursive;
	color: $indigo;
}

.container{
  max-width: 1500px;
}

.img,
.cover-photo {
  width: 3em;
  height: 3em;
  background-image: url("../../img/user-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.prof-img{
  width: 150px;
  height: 150px;
  margin-bottom: -50px;
  position: relative;
  top: -50px;
}

.cover-photo{
  width: 100%;
  height: 400px;
  background-image: url("../../img/img-demo.jpg");
}

.icon{
  width: 2em;
  height: 2em;
  fill: $purple;
}

textarea{
  resize: none;
}